body {
    padding: 0;
    margin: 0;
}

.calculator-grid {
    display: grid;
    justify-content:  center;
    align-content: center;
    grid-template-columns: repeat(3, 100px);
    grid-template-rows: minmax(120px, auto) repeat(5, 100px);
}

.output {
    grid-column: 1/ -1;
    background-color: red;
}

.output .prev_operand {
    
}