* {
    box-sizing: border-box;
    color: white;
}

body {
    box-sizing:border-box;
    background-color: grey;
}

.counterdiv {
    display: flex;
    justify-content: center;
}

.counterbtn {
    padding: 5px;
    margin: 120px 15px 0 15px;
    display: flex;
    justify-content: center;
}

.counterbtn button {
    color: black;
}